@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cashless Payment Admin</h1>
</div>

@Html.Partial("_OrganisationPartial", nmct.ba.cashlessproject.web.Models.OrganisationDA.ReadOrganisations())
@Html.Partial("_Organisation_RegisterPartial", nmct.ba.cashlessproject.web.Models.VM.Organisation_RegisterVM.FillVMList())
@Html.Partial("_RegisterPartial", nmct.ba.cashlessproject.web.Models.RegisterDA.ReadRegisters())
@Html.Partial("_ErrorlogPartial", nmct.ba.cashlessproject.web.Models.VM.Organisation_RegisterVM.FillVMList())